<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
  15行是备用IP，启用时将"ApplicationServicesbak"改成"ApplicationServices",并把14行改成"ApplicationServicesbak"
-->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=222.204.251.67;Initial Catalog=students;uid=stu;pwd=123456;"/>
    <add name="ApplicationServicesbak" connectionString="Data Source=202.120.84.196;Initial Catalog=students;uid=stu;pwd=123456;"/>
      </connectionStrings>
</configuration>

